<div id="wiki_page_show">

    <div class="show-content user_content clearfix enhanced">
        <h1 class="page-title">Föreläsning 8: Prioritetskö, heap, bästaförstsökning, heapsort</h1>


        <table border="1">
            <tbody>
                <tr>
                    <td style="width: 148px;"><strong>Mål</strong></td>
                    <td style="width: 245px;"><strong>Läs i kursboken<br></strong></td>
                </tr>
                <tr>
                    <td style="width: 148px;">
                        <p>Prioritetskö</p>
                        <p>Heap</p>
                    </td>
                    <td style="width: 245px;"><a class="reference internal external"
                            href="https://runestone.academy/runestone/books/published/pythonds/Trees/PriorityQueueswithBinaryHeaps.html"
                            target="_blank"><span>7.8 - 7.10. Priority Queues with Binary Heaps</span></a></td>
                </tr>
            </tbody>
        </table>
        <p>Idag</p>
        <ul>
            <li>Prioritetskö</li>
            <li>Trappa (heap)</li>
            <li>Trappsortering (Heapsort)</li>
            <li>Bästaförstsökning</li>
        </ul>
        <hr>
        <h3>Prioritetskö</h3>
        <p>När man poppar en stack får man ut det senast inpushade. När man tar ut något ur en vanlig kö får man tvärtom
            ut det som legat längst tid i kön. Man skulle kunna se det som att det som stoppas in tidsstämplas och att
            det påstämplade talet ger prioriteten för uthämtning.</p>
        <p>I en prioritetskö stämplas en prioritet på varje objekt som stoppas in och vid uthämtning får man objektet
            med högst prioritet.</p>
        <p>En abstrakt prioritetskö kan ha föjande anrop:</p>
        <p><strong>insert(p,x)</strong> Stoppa in x med påstämplad prioritet p (oftast ett heltal).</p>
        <p><strong>x = delMax()</strong> Hämta det som har högst prioritet.</p>
        <p><strong> isEmpty()</strong> Undersök om prioritetskön är tom.</p>
        <p>Om det man vill stoppa in i prioritetskön är ett tal kan man använda talet självt som prioritet och bara
            skriva insert(x). Hur den då skiljer sej från en stack och från en vanlig kö ser man av följande exempel.
        </p>
        <pre>      pq.insert(1)
      pq.insert(3)
      pq.insert(2)
      x = pq.delMax() # x blir 3 
</pre>
        <p>En kö hade skickat tillbaka det först instoppade talet 1; en stack hade skickat tillbaka det senast
            instoppade talet, 2; prioritetskön skickar tillbaka det <em>bästa</em> talet, 3. I denna prioritetskö
            betraktar vi största talet som bäst - vi har en så kallad maxprioritetskö. Det finns förstås också
            minprioritetsköer, där det minsta talet betraktas som bäst.</p>
        <p>Prioritetsköer har många användningar. Man kan tänka sej en auktion där budgivarna stoppar in sina bud i en
            maxprioritetskö och auktionsförrättaren efter "första, andra, tredje" gör <em>pq.delMax()</em> för att få
            reda på det vinnande budet. För att hen ska veta vem som lagt detta bud behövs förstås båda parametrarna
            ipq.insert(p,x).</p>
        <pre>      pq.insert(bud,person)   #person är ett objekt med budgivarens namn och bud
      winner = pq.delMax()    #budgivaren  med högst bud 
</pre>
        <hr>
        <h3>Trappa</h3>
        <p>Den bästa implementationen av en prioritetskö är en <em>trappa</em>, (eng heap), som är en lista tolkad som
            binärträd.</p>
        <p><img src="http://www.csc.kth.se/utbildning/kth/kurser/2D1320/gemensam/bilder/heap.gif" alt="HEAP" width="379"
                height="319"></p>
        <p>Roten är tab[1], dess båda barn är tab[2] och tab[3] osv. Vi använder inte tab[0]. Allmänt gäller att tab[i]
            har barnen tab[2*i] och tab[2*i+1]. Trappvillkoret är att <em>föräldern är bäst</em>, dvs varje tal ligger
            på två sämre tal.</p>
        <p>Ett nytt tal läggs alltid in sist i trappan. Om trappvillkoret inte blir uppfyllt, dvs om det är större än
            sin förälder, byter förälder och barn plats och så fortgår det tills villkoret uppfyllts. Det här kallas
            <em>upptrappning</em> och kan i värsta fall föra det nya talet hela vägen upp till toppen, alltså tab[1].
        </p>
        <p>Man plockar alltid ut det översta talet ur trappan och fyller igen tomrummet med det sista talet i trappan.
            Då är inte trappvillkoret uppfyllt, så man får byta talet och dess största barn. Denna <em>nedtrappning</em>
            upprepas tills villkoret åter gäller.</p>
        <p>Både insert och delMax har komplexitet <em>log N</em> om trappan har <em>N</em> element.</p>
        <p>Här följer en rudimentär implementation av en max-heap:</p>
        <pre>class HeapNode:

    def __init__(self, data, priority):
        """data är det objekt vi vill lagra
           priority är nyckelvärdet som används för att jämföra objekten"""
        self.data = data
        self.priority = priority<br>
    def __str__(self):<br>        return "{0}:{1}".format(self.data, self.priority)<br>
class Heap:
    # En max-heap

    def __init__(self):
        """Skapar en lista där vi använder element 1..maxsize"""
        self.maxsize = 32
        self.tab = (self.maxsize+1)*[None]
        self.size = 0

    def isEmpty(self):
        """Returnerar True om heapen är tom, False annars"""
        return self.size  == 0

    def isFull(self):
        """Returnerar True om heapen är full, False annars"""        
        return self.size == self.maxsize

    def insert(self, data, priority):
        """Lägger in nya data med nyckeln priority i heapen"""
        if not self.isFull():
            self.size += 1
            self.tab[self.size] = HeapNode(data, priority)
            i = self.size
            while i &gt; 1 and self.tab[i//2].priority &lt; self.tab[i].priority:
                self.tab[i//2], self.tab[i] = self.tab[i], self.tab[i//2]
                i = i//2

    def delMax(self):
        """Hämtar det största (översta) objektet ur heapen"""
        if not self.isEmpty():
            data = self.tab[1]
            self.tab[1] = self.tab[self.size]
            self.size -= 1
            i = 1
            while i &lt;= self.size//2:
                maxi = self.maxindex(i)
                if self.tab[i].priority &lt; self.tab[maxi].priority:
                    self.tab[i],self.tab[maxi] = self.tab[maxi], self.tab[i]
                i = maxi
            return data.data
        else:
            return None

    def maxindex(self, i):
        """Returnerar index för det största barnet"""
        if 2*i+1 &gt; self.size:
            return 2*i
        if self.tab[2*i].priority &gt; self.tab[2*i+1].priority:
            return 2*i
        else:
            return 2*i+1


</pre>
        <hr>
        <h3>Heapsort</h3>
        <p>Om man stoppar in N tal i en trappa och sedan hämtar ut dom ett efter ett får man dom sorterade.
            Komplexiteten för denna heapsort blir <em>O(N log N)</em>.</p>
        <pre>    heap = Heap()               
    for word in open("folksagor.txt").read().split():
        heap.insert(word, word)
    while not heap.isempty():
        print heap.delMax()   
</pre>
        <hr>
        <h3>Bästaförstsökning</h3>
        <p>Labb 4 behandlar problemet att finna kortaste vägen från FAN till GUD. Man har då ett problemträd med FAN som
            stamfar/urmoder, på nivån därunder barnen MAN, FIN, FAT osv, på nästa nivå fans barnbarn osv. Om man lägger
            barnen i en kö kommer man att gå igenom problemträdet nivå för nivå, alltså breddenförst. Om man byter kön
            mot en stack blir sökningen djupetförst. Med en prioritetskö får man <em>bästaförstsökning</em>, dvs det
            mest lovande barnet prioriteras och får föda barn.</p>
        <p>Det här är exempel på en girig algoritm, där man i varje steg väljer den väg som verkar bäst för stunden,
            utan att reflektera över vad konsekvenserna blir i längden. Ofta ger giriga algoritmer inte den bästa
            lösningen, men i just det här fallet fungerar det faktiskt! Algoritmen kallas Dijkstra's algoritm (efter den
            holländske datalogen Edsger W. Dijkstra) och att den fungerar bevisas i fortsättningskursen <a
                href="http://www.csc.kth.se/utbildning/kth/kurser/DD1352/">DD1352 Algoritmer, datastrukturer och
                komplexitet</a>.</p>
        <p>Det finns flera varianter på Dijkstra's algoritm. Nedan en variant för att räkna ut billigaste vägen från en
            startnod till en slutnod i en graf med kostnader. För att förklara algoritmen börjar jag med de första
            stegen.&nbsp;</p>
        <ol>
            <li
                style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                Sätt alla noders prioritet/kostnad till&nbsp;∞ (i praktiken något maximalt värde)</li>
            <li
                style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                Sätt startnodens prioritet till 0.&nbsp;</li>
            <li
                style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                Stoppa in startnoden i en min-prioritetskö.</li>
        </ol>
        <p>Startnoden ligger nu först i kön. I fortsättningen kan noder mitt i prioritetskön behöva omprioriteras. Ett
            sätt att omprioritera är att införa en remove-funktion som tar bort en nod ur en prioritetskö. Det får inte
            bli ett "hål" utan i princip sker en upp- och nertrappning på ungefär samma sätt som vid isättning och
            urtagning från en prioritetskö.</p>
        <p>Den fortsatta algoritmen för att hitta billigaste vägen blir ungefär:</p>
        <ol>
            <li
                style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                Plocka ut en nod <span style="color: #ff0000;"><em>p</em></span> från prioritetskön.</li>
            <li
                style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                Undersök noden <span
                    style="display: inline !important; float: none; background-color: transparent; color: #ff0000; font-family: sans-serif; font-size: 16px; font-style: italic; font-variant: normal; text-align: left; text-decoration: none; text-indent: 0px; white-space: normal;">p</span>:s
                barn ett och ett
                <ol>
                    <li
                        style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                        Räkna ut kostnaden att gå från&nbsp;<span
                            style="display: inline !important; float: none; background-color: transparent; color: #ff0000; font-family: sans-serif; font-size: 16px; font-style: italic; font-variant: normal; text-align: left; text-decoration: none; text-indent: 0px; white-space: normal;">p</span>
                        till barnet.</li>
                    <li
                        style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                        Om kostnaden är billigare än barnets nuvarande prioritet (från början var kostnaden ∞)&nbsp;
                        <ol>
                            <li
                                style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                                sätt om barnets prioritet till den nya kostnaden</li>
                            <li
                                style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                                sätt föräldrapekaren att peka på&nbsp;<span
                                    style="display: inline !important; float: none; background-color: transparent; color: #ff0000; font-family: sans-serif; font-size: 16px; font-style: italic; font-variant: normal; text-align: left; text-decoration: none; text-indent: 0px; white-space: normal;">p</span>
                            </li>
                            <li
                                style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                                Omprioritera barnet genom att
                                <ol>
                                    <li
                                        style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                                        plocka bort barnet ur prioritetskön&nbsp;</li>
                                    <li
                                        style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                                        stoppa in barnet i prioritetskön&nbsp;</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li
                style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                Upprepa från 1. tills prioritetskön är tom (det går att avbryta tidigare när bättre vägar inte finns)
            </li>
            <li
                style="clear: none; display: list-item; line-height: 24px; max-width: none; min-height: 0px; overflow-x: visible; position: static; padding: 0px;">
                Skriv ut billigaste vägen genom att följa föräldrapekarna från slutnoden till startnoden.</li>
        </ol>
        <hr>
        <p><strong>Exempel 1:</strong> Sök billigaste transport från Teknis till Honolulu. All världens resprislistor
            finns tillgängliga.</p>
        <p>Problemträdets objekt innehåller en plats, ett pris och en förälderpekare. Överst i trädet står Teknis med
            priset noll. Barnen är alla platser man kan komma till med en transport och priset, till exempelT-centralen,
            20.00. Man söker en Honoluluobjekt i problemträdet. Med breddenförstsökning får man den resa som har så få
            transportsteg som möjligt.</p>
        <p>Med bästaförstsökning får man den billigaste resan.</p>
        <p>&nbsp;</p>
        <hr>
        <p><strong>Exempel 2:</strong> Sök effektivaste processen för att framställa en önskad substans från en given
            substans. All världens kemiska reaktioner finns tillgängliga med uppgift om utbytet i procent.</p>
        <p>Problemträdets objekt innehåller substansnamn och procenttal. Överst i trädet står utgångssubstansen med
            procenttalet 100. Barnen är alla substanser man kan framställa med en reaktion och utbytet, till exempel
            C2H5OH, 96%.</p>
        <p>Med en max-prioritetskö får man fram den effektivaste process som leder till målet.</p>

    </div>
</div>