<!DOCTYPE html>
<html>

<head>
    <title>DD1320</title>
    <style>
        #toc {
            position: fixed;
            top: 10px;
            right: 10px;
            background-color: #f1f1f1;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5;
            padding-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 7px;
        }

        pre {
            background-color: #cacaca;
            border-radius: 3px;
            padding: 0.5%;
        }
    </style>
</head>

<body>
    <div id="toc">
        <h2>Innehåll</h2>
        <ul>
            <li><a href="#f3">Abstrakta datatyper</a></li>
            <li><a href="#f4">Komplexitetsanalys, sökning, rekursion</a></li>
            <li><a href="#f5">Binära träd5</a></li>
            <li><a href="#f6">Kryptering, Datasäkerhet</a></li>
            <li><a href="#f7">Grafer</a></li>
            <li><a href="#f8">Prioritetskö, heap, bästaförstsökning, heapsort</a></li>
            <li><a href="#f9">Sortering</a></li>
            <li><a href="#f10">Komprimering</a></li>
            <li><a href="#f11">Hasning, bloomfilter</a></li>
            <li><a href="#f12">Automater, textsökning</a></li>
            <li><a href="#f13">Syntax</a></li>
        </ul>
    </div>
    <div style="margin: 3%">
        <div id="f3">
            {% include 'lects/f3.html' %}
        </div>
        <div id="f4">
            {% include 'lects/f4.html' %}
        </div>
        <div id="f5">
            {% include 'lects/f5.html' %}
        </div>
        <div id="f6">
            {% include 'lects/f6.html' %}
        </div>
        <div id="f7">
            {% include 'lects/f7.html' %}
        </div>
        <div id="f8">
            {% include 'lects/f8.html' %}
        </div>
        <div id="f9">
            {% include 'lects/f9.html' %}
        </div>
        <div id="f10">
            {% include 'lects/f10.html' %}
        </div>
        <div id="f11">
            {% include 'lects/f11.html' %}
        </div>
        <div id="f12">
            {% include 'lects/f12.html' %}
        </div>
        <div id="f13">
            {% include 'lects/f13.html' %}
        </div>
    </div>
</body>

</html>