<!DOCTYPE html>
<html>

<head>
    <title>SSSB Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    {% include 'navbar.html' %}
    <div>
        <h1>
            Previous Listings
        </h1>
        <p>
            This page shows previous listings and their final queue standings.
        </p>
        <p>
            The idea of this webpage is to show historical queue data for SSSB. Review previous "max" queue days and see
            how
            the queue has changed over time.
        </p>

        <label style="font-size: 1.5em" for="searchInput">Search:</label>
        <input style="font-size: 1.5em; margin-bottom: 2%;" type="text" id="searchInput">
        <table id="csv-table"></table>

        <script>
            var rows = '{{ rows }}';
        </script>
        <script src={{ url_for('static', filename='script.js' ) }}></script>

        <p>Website made by <a href="https://github.com/koderik/">Koderik</a></p>
    </div>
</body>

</html>